/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";

// Theme customization
@import "theme/theme";

.jumbotron {
  background-color: $gray-lightest;
  color: $gray-darkest;
}

.logo {
  width: 60px;
  height: 60px;
}

.logo-small {
  width: 30px;
  height: 30px;
}

.header-logo {
  float: left;
  width: 80px;
}

.header-title {
  color: $gray-lightest;
  float: left;
  margin-top: 3px;
  width: 180px;
  white-space: nowrap;
}

.header-title span::after {
  content: " ";
  white-space: pre;
}

.app-title span::after {
  content: " ";
  white-space: pre;
}

#navbar-menu {
  float: right;
  width: 250px;
}

.app-title {
  color: #047a40;
  font-style: italic;
}
